@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
      /* Add your custom styles here */
      .header-top {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #2042B6;
        color: white;
        padding: 10px;
    }
    
    .header-chart {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #F3F3F3;
        color: black;
        padding: 10px;
        display: none;
    }
    /* --- slider ---- */
    .slider-container {
        overflow: hidden;
    }

    .slider {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }

    .slide {
        min-width: 100%;
    }



    /* header */
    .hidden { display: none; }
    .dropdown-menu { 

        border-radius: 0.5rem; 
    }
    .dropdown-menu a {
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-menu a:hover {
        background-color: #E6E6E6;
    } 